# Basic Python printing

In [1]:
print('OK')

OK

In [1]:
print(True)

True

In [2]:
print("Hello",1,2,3,4,5,6,7, sep="=")

Hello=1=2=3=4=5=6=7

In [3]:
print("Imteaz", end='-')
print("Ahmed")

Imteaz-Ahmed

#Data type in python and comments

1. Integer
2. Float
3. Boolean
4. String
5. Complex
6. List
7. Tuple
8. Sets
9. Dictionery

In [4]:
"""
This is a multiline commment
and this need to be multiple lines
"""
#This is a single line comment

'\nThis is a multiline commment\nand this need to be multiple lines\n'

In [6]:
#Integer 
print(5)
#Float
print(9.9)
#Boolean
print(False)
#String
print('String')
#complex
print(5+7j)
#List
print([1,2,3])
#Tuple
print((1,2,3))
#Sets
print({1,2,3})
#Dictionery
print({"Name":"Imteaz","Age":25})

5
9.9
False
String
(5+7j)
[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{'Name': 'Imteaz', 'Age': 25}

# Variables

In [7]:
a=2
print(a)

2

In [8]:
name="Alex"
print("Welcome", name)

Welcome Alex

In [9]:
#Dynamic Typing
a=7
#static typing
int a=7;

SyntaxError: invalid syntax (3831366471.py, line 4)

In [10]:
type(a)

int

In [ ]:
#Dynamic Binding
a=5
print(a)
a="Imteaz"

#Static Binding

int a = 7;
str a ="Minhaz"

5

# Python Input

In [12]:
input()

'5'

# Typecasting

In [13]:
var=5
var = float(var)
type(var)

float

# Simple calculator

In [15]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))

result=a-b
print(result)

-1

# Type Conversion in Python

1. Implicit- Done by python
2. Explicit- Done by the programmer

In [ ]:
#Implicit
a=5+5.5
print(a)
print(type(a))

10.5
<class 'float'>

In [17]:
#Explicit

b=4+int("4")
print(b)
print(type(b))

8
<class 'int'>

# Literals in Python

In [18]:
a=5.5
#a is variable and 5.5 is literals

In [19]:
a=True+5
b=False+6
print(a)
print(b)

6
6

# Operators in Python
1. Arithmatic operators
2. Relational operators
3. Logical operators
4. Bitwise operators
5. Assignment operators
6. Membership operators

In [20]:
#Arithmatic operators +.-,*,/,%

a=5
b=2
c=a%b
print(c)

1

In [ ]:
# Relational Operators >,<,>=,<=,==,!=

print(4>5)

False

In [ ]:
# Logical Operators and,or,not
print(0 and 1)

0

In [24]:
print(0 or 1)

1

In [26]:
#Bitwise operators &, | , ^(XOR), ~(Bitwise not), right shift(>>), left shift(<<)

print(2&3)
print(2|3)
print(2^3)
print(~3)
print(4>>2)
print(4<<2)

2
3
1
-4
1
16

In [27]:
#Assignment operators
a=2
a+=1
print(a)

3

In [29]:
#Membership Operators in / not in

print('l' in 'Bangladesh')
print('w' in 'Bangladesh')

True
False