* TUPLE IS SIMILAR TO LIST
* Tuple is immutable
* Ordered
* Allows duplicate

In [1]:
t1=("Hello","My","friend")
print(type(t1))

<class 'tuple'>

In [2]:
t2=("Hello")
print(type(t2))

<class 'str'>

In [1]:
#homo
t3=(1,2,3,4)
print(t3)

#hetro

t4=(1,2.5,True,[1,2,3])
print(t4)

#nested tuple
t5=(1,2,3,(4,5))

#type conversion
t6=tuple('hello')
print(t6)

(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
('h', 'e', 'l', 'l', 'o')

In [3]:
# Accessing items
# Indexing 
# Slicing

t3=(1,2,3,4)
t3[1]

2

In [4]:
t3[0:3]

(1, 2, 3)

In [5]:
t3[::2]

(1, 3)

In [6]:
#Editing and deleting
t3[3]=99
t3

TypeError: 'tuple' object does not support item assignment

Bangla way

In [7]:
temp=list(t3)

In [8]:
temp

[1, 2, 3, 4]

In [9]:
temp[3]=99
temp

[1, 2, 3, 99]

In [10]:
t3=tuple(temp)

In [11]:
t3

(1, 2, 3, 99)

# Tuple operations

In [12]:
t1=(1,2,3,4)
t2=(5,6,7,8)
#concat
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
t1*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
# membership
1 in t1

True

In [15]:
for i in t1:
    print(i)

1
2
3
4

# Tuples Methods

In [17]:
#len/min/max/sorted/sum
print(len(t1))
print(max(t1))
print(min(t1))
print(sum(t1))
print(sorted(t1,reverse=False))

4
4
1
10
[1, 2, 3, 4]

In [2]:
# Count
t=(1,2,3,3,40)
t.count(3)

2

# Difference between tuples and lists
* Syntax
* Mutability
* Speed
* Memory
* Built in functionality
* Error
* Usability

In [ ]:
# Memory efficiency
import sys
L=list(range(1000))
T=tuple(range(1000))

print('List size', sys.getsizeof(L))

print('Tuple size', sys.getsizeof(T))

List size 8056
Tuple size 8040

In [4]:
# Mutability

a=[1,2,3,4]
b=a
a.append(4)
print(a)
print(b)
print(id(a))
print(id(b))

[1, 2, 3, 4, 4]
[1, 2, 3, 4, 4]
2464449220480
2464449220480

In [5]:
a=(1,2,3)
b=a
a=a+(4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

# Tuple unpacking

In [18]:
a,b,c=(1,2,3)

In [19]:
print(a)

1

In [20]:
a,b,*others=(1,2,3,4,5,5,67,8)

In [21]:
print(others)

[3, 4, 5, 5, 67, 8]

In [22]:
a=(1,2,3,4)
b=(5,6,7,8)
zip_tuple=tuple(zip(a,b))

In [23]:
zip_tuple

((1, 5), (2, 6), (3, 7), (4, 8))

# List comprehension

Methodically it is not possible for tuples

In [24]:
tuple((i for i in range(1,11)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# Scaler multiplication on a vector

v=[2,3,4]
s=-3

L=[]

for i in v:
    result=i*s
    L.append(result)
print(L)

[-6, -9, -12]

In [7]:
#comprehension mode

TC=tuple((i*s for i in v))
print(TC)

(-6, -9, -12)

# SETS

* Unordered
* Mutable
* No duplicates
* can't contain mutable data types

In [25]:
s= set()
print(s)
print(type(s))

set()
<class 'set'>

In [26]:
s1={1,2,3}
print(s1)

{1, 2, 3}

In [27]:
s2={1,2,3,{3,4}}
s2

TypeError: unhashable type: 'set'

In [28]:
s2={1,2,3,(4,5)}
s2

{(4, 5), 1, 2, 3}

In [29]:
s1={1,2,3,4}
s2={4,3,2,1}
s1==s2

True

In [30]:
s4={1,2,2,3,3,4,4,5,5,5,5,5,5,5,5}
print(s4)

{1, 2, 3, 4, 5}

In [8]:
# Accessing items
s1={1,2,3}
s1[0]

TypeError: 'set' object is not subscriptable

In [9]:
#Editing items

s1={1,2,3}
s1[0]=100

TypeError: 'set' object does not support item assignment

In [11]:
# Adding items

S={1,2,3,4}
S.add(6)
S

{1, 2, 3, 4, 6}

In [12]:
# Adding items second method

S.update([11,12,13])
print(S)

{1, 2, 3, 4, 6, 11, 12, 13}

In [13]:
# Deleting items

s={1,2,3,4}
s.discard(4)
s

{1, 2, 3}

In [14]:
#POP
s.pop()
print(s)

{2, 3}

In [15]:
# clear
s.clear()
print(s)

set()

UNION(|)

s1 | s2

In [19]:
s1={1,2,3,4,5}
s2={6,7,8,9,4}

In [20]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intersection(&)

In [21]:
s1 & s2

{4}

# Difference

In [22]:
s1-s2

{1, 2, 3, 5}

In [24]:
# Symmetric difference
s2^s1

{1, 2, 3, 5, 6, 7, 8, 9}

In [25]:
# Membership
s1={1,2,3,4,5}
1 in s1

True

In [26]:
for i in s1:
    print(i)

1
2
3
4
5

In [28]:
# len/min/max/sorted
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1,reverse=True))

5
15
1
5
[5, 4, 3, 2, 1]

In [30]:
# UNION/ UPDATE
s1={1,2,3,4,5}
s2={6,7,8,9,4}
s1.union(s2)
s1.update(s2)

In [31]:
#intersection/intersection_update
s1={1,2,3,4,5}
s2={6,7,8,9,4}
s1.intersection(s2)
s2.intersection_update(s1)

same difference/difference_update and symmetric_difference/symmetric_difference_update same

In [33]:
# Subset & superset
s1={1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)
s1.issuperset(s2)

True

In [34]:
s1.issuperset(s2)

True

In [35]:
# code
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

# Frozenset

Just immutable version of a python set object

In [36]:
fs1=frozenset([1,2,3,4])
fs2=frozenset([3,4,5,6])

In [37]:
fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

In [38]:
fs1 & fs2

frozenset({3, 4})

In [39]:
#2 D
fs=frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

# SET comprehension

In [40]:
SC={i for i in range(1,11)}
print(SC)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Dictionary

Collection of keys values

* Mutable
* Indexing has no meaning
* Keys can't be duplicated
* Keys can't be mutable items

In [41]:
# Empty dictionary

d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [42]:
# 1D dictionary

d1={"name": "Imteaz","Age":27}
print(d1)

{'name': 'Imteaz', 'Age': 27}

In [44]:
# With mixed keys
d2={(1,2,3):33,"name":"Imteaz"}
print(d2)

{(1, 2, 3): 33, 'name': 'Imteaz'}

In [ ]:
# With mixed keys
d2={[1,2,3]:33,"name":"Imteaz"}
print(d2)

# mutable jinish key hishebe use kora jabe na as dictionary nijei mutable

TypeError: unhashable type: 'list'

In [ ]:
# 2D dictionary
d3={
    "name":"Imteaz",
    "Uni_name":"KUET",
    "Semester":"Null",
    "subjects":{"DSA":80,"Math":50, "English":90}
}
print(d3)

{'name': 'Imteaz', 'Uni_name': 'KUET', 'Semester': 'Null', 'subjects': {'DSA': 80, 'Math': 50, 'English': 90}}

In [46]:
# using sequence and dict function
d4=dict([("name","bappy"),("Age",27)])
print(d4)

{'name': 'bappy', 'Age': 27}

In [47]:
# duplicate keys
d5={"name": "Imteaz","name":"Minhaz","Age":27}
print(d5)

{'name': 'Minhaz', 'Age': 27}

In [48]:
d6={"name": "Imteaz","Age":27,"Gender":"M"}
d6[0]

KeyError: 0

In [49]:
d6["name"]

'Imteaz'

In [50]:
d7={
    "name":"Imteaz",
    "Uni_name":"KUET",
    "Semester":"Null",
    "subjects":{"DSA":80,"Math":50, "English":90}
}
d7["subjects"]["Math"]

50

# Adding key-value pair

In [52]:
d8={"name": "Imteaz","name":"Minhaz","Age":27}
d8["Weight"]=85
d8

{'name': 'Minhaz', 'Age': 27, 'Weight': 85}

In [55]:
# Editing key-value pair
d9={"name": "Imteaz","Age":27}
d9["name"]="minhaz"
d9

{'name': 'minhaz', 'Age': 27}

In [57]:
d10={"name": "Imteaz","Age":27}

d10.popitem()
d10

{'name': 'Imteaz'}

In [58]:
d11={"name": "Imteaz","Age":27}

d11.clear()
d11

{}

In [59]:
# Dictionary operation

d12={"name": "Imteaz","Age":27}

"name" not in d12

False

In [61]:
for i in d12:
    print(i,d12[i])

name Imteaz
Age 27

In [63]:
for i in d12:
    print(f"{i}:{d12[i]}")

name:Imteaz
Age:27

Dictionary methods and functions

In [65]:
d13={"name": "Imteaz","Age":27,"Gender":"M"}
print(len(d13))
print(sorted(d13,reverse=False))
print(max(d13))
print(min(d13))

3
['Age', 'Gender', 'name']
name
Age

In [67]:
d={"name": "Imteaz","Age":27,"Gender":"M"}
print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'Imteaz'), ('Age', 27), ('Gender', 'M')])
dict_keys(['name', 'Age', 'Gender'])
dict_values(['Imteaz', 27, 'M'])

In [68]:
# Update

d1={1:2,3:4, 4:5}
d2={4:7,6:8}
d1.update(d2)

In [69]:
d1

{1: 2, 3: 4, 4: 7, 6: 8}

# Dictionary comprehension

In [70]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [72]:
products={'phone':10 ,'laptop': 0, 'charger': 32}
for i,j in products.items():
    if j>0:
        print(i,j)

phone 10
charger 32

In [73]:
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [74]:
# Using ZIP
days=["Sunday","Monday","Tuesday","Wednesday","Thursday"]
temp_c=[33.5,32.6,29.0,38.0,40.00]
{i:j for (i,j) in zip(days,temp_c)}

{'Sunday': 33.5,
 'Monday': 32.6,
 'Tuesday': 29.0,
 'Wednesday': 38.0,
 'Thursday': 40.0}